# Virtual environment
venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Node (if any leftover)
node_modules/
package.json
package-lock.json

# Database
# migrations/

# OS
.DS_Store
Thumbs.db

# Uploads
app/static/images/rooms/uploads/

#structure
structure.txt
